<section class="steps" id="section-steps">
  <a class="striped-icon divider scroll" href="#section-steps">
    <i class="fa fa-chevron-down"></i>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <header class="section-header wow fadeInUp" data-wow-duration="2">
          <p class="subhead">Our goal</p>
          <h2>Build a pipeline of 1 million connected startups by 2020</h2>
          <p class="large">We have tried to answer 3 core questions fundamental to our growth strategy and mission through Africa.</p>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 wow fadeInUp " data-wow-duration="2s">
        <article>
          <%#<div class="striped-icon-small">1</div>%>
          <%= image_tag 'icon-connect.png', alt: '' %>
          <h5 class="connect">Connect</h5>
          <p style="font-size: .95em;">
            <span class="connect">What</span> - Our connection to entrepreneurs. Our Formula is authentic; by entrepreneurs, for entrepreneurs, about entrepreneurs. <br>
            <span class="connect">Why</span> &nbsp; - We are solving our own problems. <br>
            <span class="connect">How</span> - &nbsp; We are on the ground, it is our strongest touchpoint.
          </p>
        </article>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="2s">
        <article>
          <%#<div class="striped-icon-small">2</div>%>
          <%= image_tag 'icon-engage.png', alt: '' %>
          <h5 class="engage">Engage</h5>
          <p style="font-size: .95em;">
            <span class="engage">What</span> - We are engaging the African economic agenda.<br>
            <span class="engage">Why</span> - To capitalise on African Startups.<br>
            <span class="engage">How</span> - By having the right conversations that lead to profitable collaborations.<br>
          </p>
        </article>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="2s">
        <article>
          <%#<div class="striped-icon-small">3</div>%>
          <%= image_tag 'icon-contribute.png', alt: '' %>
          <h5 class="contribute">Contribute</h5>
          <p style="font-size: .95em;">
            <span class="contribute">What</span> - Our contribution to the African startup ecosystem.<br>
            <span class="contribute">Why</span> - To influence policy, funding and support within the ecosystem.<br>
            <span class="contribute">How</span> - Through creating value for entrepreneurs at every touchpoint.<br>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
