<section class="wrap-start" id="start">
  <div class="top-block-icon">
    <i class="icon-users"></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 text-center wow fadeInUp" data-wow-duration="2s">
        <h4>Get Started Now</h4>
        <p>Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
      </div>
    </div>
    <div class="row buttons wow fadeInUp" data-wow-duration="2s">
      <div class="col-sm-offset-4 col-sm-4 clearfix">
        <%= link_to 'Sign up now', new_user_registration_path, class: 'btn btn-primary btn-sm btn-block' %>
      </div>
    </div>
  </div>
</section>
