<footer>
<!-- Contacts One -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
  <section class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <article class="contacts-block bottom-border">
            <h5>Contacts</h5>
            <ul>
              <li>
                <p>
                  <i class="fa fa-map-marker"></i>Liberty Building, 17 Wolmarans street, Braamfontein, JHB, SA, 2001</p>
              </li>
              <li>
                <p>
                  <i class="fa fa-phone"></i>+27 (0) 11 039 6121</p>
              </li>
              <li>
                <p>
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:info@lifesgud.com">info@lifesgud.com</a>
                </p>
              </li>
            </ul>
          </article>
        </div>
        <div class="col-md-4">
          <article class="twitter-block bottom-border">
            <h5 class="offset">Twitter
              <a href="#fakelink">
                <i class="fa fa-undo pull-right"></i>
              </a>
            </h5>
            <div class="twitter-wrap offset left-border">
              <p><strong>&#64;The Hookup Dinner</strong>
                Congratulations to @thinkbots the winning team for this edition of #THUDHackathon<br>
                <span>15 minutes ago</span></p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="subscribe-info">
            <h5 class="offset">Subscribe</h5>
            <div class="subscribe-wrap offset left-border">
              <form>
                <label for="contacts-email">Subscribe to our Monthly newsletter</label>
                <div class="form-group has-feedback">
                  <input class="form-control " id="contacts-email" placeholder="Enter email" type="email">
                  <i class="fa fa-pencil-square fa-lg form-control-feedback"></i>
                </div>
              </form>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
<!-- Copyright One-->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2015 <a href="#">The Hookup Dinner</a></p>
        </div>
        <div class="col-md-6">
          <ul class="copyright-links list-inline">
            <li>
              <a href="#fakelink">
                <i class="fa fa-facebook fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="#fakelink">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="#fakelink">
                <i class="fa fa-youtube-play fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="#fakelink">
                <i class="fa fa-google-plus fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="#fakelink">
                <i class="fa fa-instagram fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
