<section class="testimonials" id="testimonials">
  <a class="striped-icon divider scroll" href="#testimonials">
    <i class="fa fa-chevron-down"></i>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <header class="section-header wow fadeInUp" data-wow-duration="2s">
          <h2>Our partners</h2>
          <p class="large">Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
        </header>
      </div>
    </div>
    <div class="brands">
      <div class="row no-gutter">
        <div class="col-xs-6 col-sm-3 wow fadeInUp" data-wow-duration="2s">
          <div class="brand-logo">
            <a class="brand-logo-wrap partner-1" href="#fakelink">
              <%= image_tag 'partners/partner-1.png' %>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 wow fadeInUp" data-wow-duration="2s">
          <div class="brand-logo">
            <a class="brand-logo-wrap partner-2" href="#fakelink">
              <%= image_tag 'partners/partner-2.png' %>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 wow fadeInUp" data-wow-duration="2s">
          <div class="brand-logo">
            <a class="brand-logo-wrap partner-3" href="#fakelink">
              <%= image_tag 'partners/partner-3.png' %>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 wow fadeInUp" data-wow-duration="2s">
          <div class="brand-logo">
            <a class="brand-logo-wrap partner-4" href="#fakelink">
              <%= image_tag 'partners/partner-4.png' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
