<section class="wrap-technical" id="technical">
  <div class="top-block-icon">
    <i class="icon-cloud-download"></i>
  </div>
  <div class="container">
    <div class="row top-block-text wow fadeInUp" data-wow-duration="2s">
      <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
        <h3>Technical Optimization</h3>
        <p class="large">Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 wrap-texts">
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <span class="icon-pointer"></span>
          </div>
          <div class="col-md-10">
            <div class="title">Praesent quis pulvinar purus.
            </div>
            <p>
              Mauris dapibus nunc convallis, ullamcorper orci ut, semper risus
            </p>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <span class="icon-umbrella"></span>
          </div>
          <div class="col-md-10">
            <div class="title">Nullam malesuada
            </div>
            <p>
              Mauris dapibus nunc convallis, ullamcorper orci ut, semper risus
            </p>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <span class="icon-refresh"></span>
          </div>
          <div class="col-md-10">
            <div class="title">Sed condimentum ante
            </div>
            <p>
              Mauris dapibus nunc convallis, ullamcorper orci ut, semper risus
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8 map-column wow fadeInUp" data-wow-duration="2s">
        <div class="wrap-map-item">
          <div class="map-marker marker-1" data-popover-content="#marker-1"></div>
          <div class="map-marker marker-2" data-popover-content="#marker-2"></div>
          <div class="map-marker marker-3" data-popover-content="#marker-3"></div>
          <div class="map-marker marker-4" data-popover-content="#marker-4"></div>
          <div class="map-marker marker-5" data-popover-content="#marker-5"></div>
          <div class="map-marker marker-6" data-popover-content="#marker-6"></div>
          <div class="map-marker marker-7" data-popover-content="#marker-7"></div>
          <%= image_tag 'map2.png', class: 'img-responsive' %>
        </div>
        <div class="hidden" id="marker-1">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">190k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-2">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">100k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-3">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">110k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-4">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">120k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-5">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">130k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-6">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">150k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-7">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">traffic</div>
              <div class="count">160k</div>
              <div class="text">Mauris dapibus nunc convallis</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
