<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav" role="navigation">
    <div class="container relative-nav-container">
      <a class="toggle-button visible-xs-block" data-target="#navbar-collapse" data-toggle="collapse">
        <i class="fa fa-navicon"></i>
      </a>
      <a class="navbar-brand scroll" href="index.html">
        <img alt="logo" class="normal-logo hidden-xs" src="assets/images/logo.png"/>
        <img alt="logo" class="inverse-logo hidden-xs" src="assets/images/logo-w.png"/>
        <img alt="logo" class="visible-xs-block" height="44" src="assets/images/logo-sign2.png" width="40"/>
      </a>
      <ul class="nav navbar-nav navbar-right nav-icons wrap-user-control">
        <li>
          <a href="#fakelink" id="search-open">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li class="open-signup">
          <a href="#fakelink">
            <i class="fa fa-user"></i>
          </a>
          <div class="wrap-login-signup">
            <div role="tabpanel">
<!-- Nav tabs -->
              <ul class="nav nav-tabs-alt nav-tabs-one" role="tablist">
                <li class="active" role="presentation"><a aria-controls="signup" data-toggle="tab" href="#signup" role="tab">Sign Up</a></li>
                <li role="presentation"><a aria-controls="login" data-toggle="tab" href="#login" role="tab">Log In</a></li>
              </ul>
<!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active text-center" id="signup" role="tabpanel">
                  <div class="signup-content">
                    <h5>Register Customer</h5>
                    <a class="signup-facebook" href="#">
                      <i class="fa fa-facebook-square">&nbsp;&nbsp;</i>Sign in with Facebook
                    </a>
                    <span class="or-sep">or</span>
                    <form class="form">
                      <div class="form-group">
                        <input class="form-control" placeholder="Enter your e-mail" type="text">
                      </div>
                      <div class="form-group">
                        <input class="submit-button form-control" type="submit" value="Create new account"/>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane" id="login" role="tabpanel">
                  <div class="signup-content">
                    <h5>Your Account</h5>
                    <form class="form">
                      <div class="form-group">
                        <input class="form-control" placeholder="Login" type="text">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Password" type="text">
                      </div>
                      <div class="form-group">
                        <input class="submit-button form-control" type="submit" value="Login"/>
                      </div>
                    </form>
                    <span class="forgot">Forgot
                      <a href="#">password or login</a>?</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="navbar-collapse collapse floated" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-with-inside clearfix navbar-right with-border">
          <li class=" ">
            <a href="#">Home</a>
            <div class=" wrap-inside-nav">
              <div class="inside-col">
                <ul class="inside-nav">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="home-2.html">Home 2</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">About</a>
            <div class=" wrap-inside-nav">
              <div class="inside-col">
                <ul class="inside-nav">
                  <li><a href="about.html">About 1</a></li>
                  <li><a href="about-2.html">About 2</a></li>
                  <li><a href="about-me.html">About Me</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">Service</a>
            <div class="wrap-inside-nav">
              <div class=" inside-col">
                <ul class="inside-nav">
                  <li><a href="service.html">Service 1</a></li>
                  <li><a href="service-2.html">Service 2</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="price.html">Price</a></li>
          <li>
            <a href="#">Gallery</a>
            <div class=" wrap-inside-nav">
              <div class=" inside-col">
                <ul class="inside-nav">
                  <li><a href="gallery.html">Gallery Tiles</a></li>
                  <li><a href="gallery-2.html">Gallery 2 Columns</a></li>
                  <li><a href="gallery-3.html">Gallery 3 Columns</a></li>
                  <li><a href="gallery-4.html">Gallery 4 Columns</a></li>
                  <li><a href="gallery-single.html">Single Project 1</a></li>
                  <li><a href="gallery-single-2.html">Single Project 2</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">Blog</a>
            <div class=" wrap-inside-nav">
              <div class=" inside-col">
                <ul class="inside-nav">
                  <li><a href="blog-3.html">Blog 3 Columns
                    </a>
                  </li>
                  <li><a href="blog-2.html">Blog 2 Columns</a></li>
                  <li><a href="blog.html">Blog Classic</a></li>
                  <li><a href="blog-post.html">Blog Single Post
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">Contacts</a>
            <div class=" wrap-inside-nav">
              <div class="inside-col">
                <ul class="inside-nav">
                  <li><a href="contact.html">Contacts 1</a></li>
                  <li><a href="contact-2.html">Contacts 2</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-search">
      <div class="container">
        <form role="search">
          <div class="input-group">
            <input autocomplete="off" class="form-control" placeholder="Type your search..." type="text">
            <span class="input-group-btn">
              <button class="btn search-close" id="search-close" type="reset">
                <i class="fa fa-close"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
<!--/.header -->
