<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <li class="start ">
        <%= link_to(user_root_path) do %>
          <i class="icon-clock"></i>
          <span class="title">Timeline</span>
        <% end %>
      </li>

      <li>
        <a href="javascript:;">
        <i class="icon-briefcase"></i>
        <span class="title">My startups</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
            Startup/Org 1</a>
          </li>
          <li>
            <a href="#">
            Startup/Org 2</a>
          </li>
          <li>
            <a href="#">
            Startup/Org 3</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="index.html">
          <i class="icon-docs"></i>
          <span class="title">Projects</span>
        </a>
      </li>

      <li>
        <a href="index.html">
          <i class="icon-settings"></i>
          <span class="title">Settings</span>
        </a>
      </li>

      <li class="last ">
        <a href="javascript:;">
          <i class="icon-calendar"></i>
          <span class="title">Events</span>
        </a>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->
